{% extends 'base.html.twig' %}


{% block body %}
        <title>Mentions Légales</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
            h1 {
                color: #333;
            }
            p {
                line-height: 1.5;
            }
        </style>
    </head>
    <body>
    <h1>Mentions Légales</h1>

    <h2>Éditeur du site :</h2>
    <p>Nom de l'entreprise / Organisation<br>
        Adresse de l'entreprise<br>
        Numéro de téléphone : XXX-XXX-XXXX<br>
        Email : contact@votreentreprise.com</p>

    <h2>Hébergement :</h2>
    <p>Nom de l'hébergeur<br>
        Adresse de l'hébergeur<br>
        Numéro de téléphone de l'hébergeur : XXX-XXX-XXXX</p>

    <h2>Responsable de la publication :</h2>
    <p>Nom du responsable de la publication<br>
        Adresse du responsable<br>
        Email du responsable : responsable@votreentreprise.com</p>

    <h2>Propriété intellectuelle :</h2>
    <p>Le contenu de ce site est protégé par les lois sur la propriété intellectuelle. Toute reproduction totale ou partielle sans autorisation est interdite.</p>

    <h2>Données personnelles :</h2>
    <p>Conformément à la loi sur la protection des données, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ces droits, veuillez nous contacter à l'adresse email suivante : contact@votreentreprise.com</p>

    <h2>Cookies :</h2>
    <p>Ce site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur ce site, vous acceptez l'utilisation de cookies.</p>

    <h2>Conditions d'utilisation :</h2>
    <p>En utilisant ce site, vous acceptez les conditions d'utilisation énoncées dans ces mentions légales.</p>

    <p>Date de dernière mise à jour : [Date]</p>
    </body>


{% endblock %}
